In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [9]:
df=pd.read_csv('car risk analysis.csv')

In [10]:
df

   speed  car_age  experience   risk
0    200       15          5.0    85
1     90       17         13.0    20
2    165       12          4.0    93
3    110       20          NaN    60
4    140        5          3.0    82
5    115        2          8.0    10

In [11]:
df.head()

   speed  car_age  experience   risk
0    200       15          5.0    85
1     90       17         13.0    20
2    165       12          4.0    93
3    110       20          NaN    60
4    140        5          3.0    82

In [13]:
df.speed

0    200
1     90
2    165
3    110
4    140
5    115
Name: speed, dtype: int64

In [14]:
df.risk

0    85
1    20
2    93
3    60
4    82
5    10
Name: risk, dtype: int64

In [17]:
df.car_age

0    15
1    17
2    12
3    20
4     5
5     2
Name: car_age, dtype: int64

In [22]:
df.experience

AttributeError: 'DataFrame' object has no attribute 'experience'

In [20]:
df.risk

0    85
1    20
2    93
3    60
4    82
5    10
Name: risk, dtype: int64

In [23]:
df.speed

0    200
1     90
2    165
3    110
4    140
5    115
Name: speed, dtype: int64

In [24]:
df.head()

   speed  car_age  experience   risk
0    200       15          5.0    85
1     90       17         13.0    20
2    165       12          4.0    93
3    110       20          NaN    60
4    140        5          3.0    82

In [26]:
df.experience.mean()

AttributeError: 'DataFrame' object has no attribute 'experience'

In [27]:
df.speed.mean()

136.66666666666666

In [28]:
df.car_age.median()

13.5